@model WebApp.ViewModels.ItemDescriptionCreateEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h4>@Resources.Views.ItemDescription.Edit.Edit.EditItemDescription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">@Model.ProductDescription!.Description</label>
                <input asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ItemId" />
            <input type="hidden" asp-for="ProductDescriptionId" />
            <div class="form-group">
                <input type="submit" value="@Resources.Views.Shared.Common.Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Resources.Views.Shared.Common.BackToList</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
