@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = Resources.Views.Account.Login.Login.ForgotPasswordConfirmation;
}

<h1>@Resources.Views.Account.Login.Login.ForgotPasswordConfirmation</h1>
<p>
    @Resources.Views.Account.Login.Login.CheckEmail
</p>

