@model WebApp.ViewModels.RentalPeriodCreateEditViewModel

<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Description" class="control-label"></label>
    <input asp-for="Description" class="form-control"/>
    <span asp-validation-for="Description" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PeriodStart" class="control-label"></label>
    <input asp-for="PeriodStart" class="form-control"/>
    <span asp-validation-for="PeriodStart" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="PeriodEnd" class="control-label"></label>
    <input asp-for="PeriodEnd" class="form-control"/>
    <span asp-validation-for="PeriodEnd" class="text-danger"></span>
</div>